app:
  restart: always
  image: mediadepot/sickrage:master
  ports:
   - "8081"
  volumes_from:
  - data
  volumes:
  - /media/storage/tvshows:/mnt/tvshows
  - /media/storage/downloads/tvshows:/mnt/downloads
  - /media/temp/blackhole/tvshows:/mnt/blackhole
  - /etc/localtime:/etc/localtime:ro
  labels:
    io.rancher.sidekicks: data
    depot.lb.link: true
    depot.lb.port: 8081
    depot.app.type: sickrage
data:
  image: tianon/true
  labels:
    io.rancher.container.start_once: true
  volumes:
  - /srv/sickrage/config
  - /srv/sickrage/data